{% extends "base.html" %}

{% block content %}
<form action="/util/lotto_out/">
  <div>
    <label for="my_numbers1">my_numbers: </label>
    <input type="number" id="my_numbers1" name="my_numbers">
  </div>
  <div>
    <label for="my_numbers2">my_numbers: </label>
    <input type="number" id="my_numbers2" name="my_numbers">
  </div>

  <div>
    <label for="my_numbers3">my_numbers: </label>
    <input type="number" id="my_numbers3" name="my_numbers">
  </div>
  <div>
    <label for="my_numbers4">my_numbers: </label>
    <input type="number" id="my_numbers4" name="my_numbers">
  </div>
  <div>
    <label for="my_numbers5">my_numbers: </label>
    <input type="number" id="my_numbers5" name="my_numbers">
  </div>
  <div>
    <label for="my_numbers6">my_numbers: </label>
    <input type="number" id="my_numbers6" name="my_numbers">
  </div>

  <div>
    <input type="submit">
  </div>
  
</form>



{% endblock content %}